/* Inspired by TailwindCSS Prose: https://github.com/tailwindlabs/tailwindcss-typography/blob/master/src/styles.js */

.EditorContent {
  --editor-font-size-default: 14px;
  --editor-line-height-default: calc(28 / 16);
  --editor-placeholder-color: #adb5bd;

  font-size: var(--editor-font-size, var(--editor-font-size-default));
  line-height: var(--editor-line-height, var(--editor-line-height-default));

  /* Display a Placeholder only for the first line in an empty editor. */
  & p.is-editor-empty:first-child::before {
    color: var(--editor-placeholder-color);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  & strong {
    font-weight: 600;
  }

  & a {
    @apply text-neutral-950 transition-colors hover:text-neutral-900;
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 3px;
    cursor: pointer;
    color: inherit;

    &:hover {
      color: color-mix(in srgb, currentColor 80%, transparent);
    }
  }

  & p {
    margin-block: calc(12em / 16);
  }

  & h1,
  & h2,
  & h3,
  & h4 {
    /* @apply scroll-m-20 tracking-tight; */
    scroll-margin: 5rem;
    letter-spacing: -0.025em;
  }

  & h1 {
    font-size: calc(36em / 16);
    margin-block-start: calc(48em / 36);
    margin-block-end: calc(32em / 36);
    line-height: calc(40 / 36);
    font-weight: 800;

    & strong {
      font-weight: 900;
    }
  }

  & h2 {
    font-size: calc(24em / 16);
    margin-block-start: calc(48em / 24);
    margin-block-end: calc(24em / 24);
    line-height: calc(32 / 24);
    font-weight: 700;

    & strong {
      font-weight: 800;
    }
  }

  & h3 {
    font-size: calc(20em / 16);
    margin-block-start: calc(32em / 20);
    margin-block-end: calc(12em / 20);
    line-height: calc(32 / 20);
    font-weight: 600;

    & strong {
      font-weight: 700;
    }
  }

  & h4 {
    margin-block-start: calc(24em / 16);
    margin-block-end: calc(8em / 16);
    line-height: calc(24 / 16);
    font-weight: 600;

    & strong {
      font-weight: 700;
    }
  }

  & blockquote {
    @apply border-neutral-200 border-l-neutral-200;
    font-weight: 500;
    border-left-width: 0.25rem;
    margin-block: calc(32em / 20);
    padding-inline-start: calc(20em / 20);

    /* font-style: italic; */
    /* & p:first-of-type::before {
      content: open-quote;
    }
    & p:last-of-type::after {
      content: close-quote;
    } */
  }

  & a,
  & h1,
  & h2,
  & h3,
  & h4,
  & p,
  & ul,
  & ol,
  & blockquote {
    & strong {
      color: inherit;
    }
    & code {
      color: inherit;
    }
  }

  & hr,
  & h2,
  & h3,
  & h4 {
    & + * {
      margin-block-start: 0;
    }
  }

  & > :first-child {
    margin-block-start: 0;
  }
  & > :last-child {
    margin-block-end: 0;
  }
}
